body{
    background: #0e6773;
    font-family: 'Montserrat', sans-serif;
}
form {
    margin: 0 auto;
    background: #0093a7;
    border-radius: 3px;
    width: 500px;
    padding-top: 10px;
}

label{
    color:#fff;
}

/* Full-width inputs */
input[type=text], input[type=password], select,  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #03424c;
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 8px auto;
    display: block;
    border: none;
    cursor: pointer;
    padding: 15px 38px;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}



/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    align-items: center;
}

.container2 {
    padding-left: 350px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .signupbtn {
        align-self: center;
        width: 20%;
    }
}


h1{
    color: #fff;
    text-align: center;
    font-weight: 500;
}
a {
    margin: 21px 0;
    display: block;
    color: #03424c;
}
a:hover{
    color:#fff;
}

.head{
    color:#fff;
        text-align: right;
}